@font-face {
  font-family: 'FontHead';
  src: url('../src/assets/fonts/HammersmithOne-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Font';
  src: url('../src/assets/fonts/Segoe511.TTF') format('truetype')
}

@font-face {
  font-family: 'FontBold';
  src: url('../src/assets/fonts/Segoe511Bold.TTF') format('truetype')
}

@font-face {
  font-family: 'FontItalic';
  src: url('../src/assets/fonts/Segoe511Italic.ttf') format('truetype')
}

@font-face {
  font-family: 'FontBoldItalic';
  src: url('../src/assets/fonts/Segoe511BoldItalic.TTF') format('truetype')
}

@font-face {
  font-family: 'FontLight';
  src: url('../src/assets/fonts/Segoe500Light.ttf') format('truetype')
}

@font-face {
  font-family: 'FontLightItalic';
  src: url('../src/assets/fonts/SegoeUI526LightItalic.ttf') format('truetype')
}


:root {
  --main-color: #3C3C3C;
  --gray: #4f5c65;
  --side-nav: #F5F5F5;
  --card-border: #EBEBEB;
  --white: #fff;
  --submit: #657FFF;
  --highlight: #32CD32;
  --FontHead: 'FontBold';
  --Font: 'Font';
  --FontBold: 'FontBold';
  --FontItalic: 'FontItalic';
  --FontBoldItalic: 'FontBoldItalic';
  --FontLight: 'FontLight';
  --FontLightItalic: 'FontLightItalic';

}

html {
  min-height: 100%;
}

body {
  margin: 0px;
  min-height: 100vh;
  font-family: 'Font', Fallback, sans-serif;
}

.title {
  font-weight: 900;
  font-size: 20px;
  font-family: 'FontBold', Fallback, sans-serif;
  margin-bottom: 10px;
}

.alt-title {
  font-size: 18px;
  font-weight: 550;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Font', Fallback, sans-serif;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  font-family: 'FontItalic', Fallback, sans-serif;
}

.description {
  font-size: 14px;
  font-family: 'Font', Fallback, sans-serif;
}

.header {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  font-family: 'FontHead', Fallback, sans-serif;
  letter-spacing: 2px;
}
.subheader {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 500;
  font-family: 'Font', Fallback, sans-serif;
}