:root {
  --main-color: black;
  --side-nav: #F5F5F5;
  --card-border: #EBEBEB;
  --submit: #657FFF;
}

html {
  min-height: 100%;
}

body {
  margin: 0px;
  min-height: 100vh;
}

.title {
  font-weight: 900;
  font-size: 18px;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}